# Node.js
node_modules
package-lock.json

# TypeScript
dist


# Environment variables
.env
*.env
!.env.example
.localdb/

# IDE
.idea
.vscode

# Build
build

# Logs
logs

# Other
.DS_Store
.env.production
.gitignore
.env.testnet