DATABASE_URL=postgresql://myuser:mypassword@localhost:5432/orderbook_db?schema=public
CHAIN_ID=31337
PORT=3001
LIMIT_ORDER_ADDRESS=0x0B306BF915C4d645ff596e518fAf3F9669b97016
MATCHER_PRIVATE_KEY=YOUR_MATCHER_PRIVATE_KEY
