PORT=3002
CHAIN_ID=31337
RPC_URL=http://localhost:8545

OPERATOR_PRIVATE_KEY=YOUR_OPERATOR_PRIVATE_KEY

# Addresses from Deployment
PERPETUAL_CONTRACT_ADDRESS=0x18998c7E38ede4dF09cEec08E5372Bf8fe5719ea
MOCK_ORACLE_ADDRESS=0x9A9f2CCfdE556A7E9Ff0848998Aa4a0CFD8863AE
# Index Token = ETH (MockETH)
INDEX_TOKEN_ADDRESS=0xCf7Ed3AccA5a467e9e704C703E8D87F634fB0Fc9
# USDC
USDC_ADDRESS=0x5FbDB2315678afecb367f032d93F642f64180aa3

USE_SYNTHETIC_LP=false
SYSTEM_LP_ADDRESS=0x3C44CdDdB6a900fa2b585dd299e03d12FA4293BC
SYSTEM_LP_PRIVATE_KEY=YOUR_SYSTEM_LP_PRIVATE_KEY
